@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem;
  background-color: #04134E;
  color: #fff;
  font-size: 1.5625rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.spollers__summary {
  cursor: pointer;
  border-radius: 0.3125rem;
  border: 1px solid #B5B5B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
  font-size: 1.375rem;
  line-height: 1.25;
}

.spollers__summary svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers[open] .spollers__summary {
  border-bottom: none;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.spollers[open] .spollers__summary svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spollers__summary::marker,
.spollers__summary::-webkit-details-marker {
  display: none;
}

.spollers__summary:focus {
  outline: none;
}

.spollers__content {
  padding: 1.25rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
  border: 1px solid #B5B5B5;
  border-top: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.information__container {
  display: -ms-grid;
  display: grid;
}

.info-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info-partners::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  top: 50%;
  left: 0;
  background-color: #04134E;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.info-partners__title {
  font-size: 1.5625rem;
  line-height: 1.2;
  padding: 0.625rem;
  background-color: #04134E;
  color: #fff;
  position: relative;
  z-index: 10;
}

.info-header__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #04134E;
  cursor: pointer;
  border-radius: 0.3125rem;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem;
  padding-right: 0.9375rem;
  font-size: 1.5rem;
  line-height: 1.25;
}

.info-header__summary svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-header__summary svg path {
  color: #fff;
}

.info-header[open] .info-header__summary {
  border-bottom: none;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.info-header[open] .info-header__summary svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info-header__title {
  font-size: 1.375rem;
  line-height: 1.2;
  padding: 0.625rem;
  color: #fff;
  position: relative;
  z-index: 10;
}

.info-header__content {
  border: 1px solid #04134E;
  padding: 1.25rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
}

.spollers__body {
  border-radius: 0.3125rem;
  border: 1px solid #B5B5B5;
  overflow: hidden;
}

.spollers__body_educational-options {
  padding: 0.9375rem;
}

.spollers__text {
  line-height: 1.3888888889;
  color: #787878;
}

.spollers__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.spollers__link {
  line-height: 1.3888888889;
  color: #0495B5;
  position: relative;
}

.spollers__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #0495B5;
}

.spollers__dicsipline {
  padding: 0.9375rem;
}

.spollers__dicsipline:nth-child(odd) {
  background-color: #F8F8F8;
}

.spollers__image-ibg {
  width: 100%;
  padding-bottom: 69.1818181818%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo__image-ibg {
  width: 12.875rem;
  height: 5.1875rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.chosen {
  max-width: 50rem;
}

.chosen__header:not(:last-child) {
  margin-bottom: 1.25rem;
}

.chosen__text {
  line-height: 1.2;
}

.chosen__text span {
  font-weight: 700;
}

.chosen__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.chosen__title {
  padding: 0.625rem;
  display: inline;
  color: #fff;
  font-weight: 400;
  background-color: #04134E;
  line-height: 1.9047619048;
}

.speciality__body {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.educational-options__body {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.partners__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 0.9375rem;
}

.partners__image-ibg {
  width: 15rem;
  height: 8.125rem;
}

.partners__image-ibg_arcelor {
  width: 12.5rem;
  height: 5.625rem;
}

.btn {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 72.5em) {
  .information__container {
    gap: 1.5625rem;
  }

  .header {
    padding-top: 3.125rem;
  }

  .header {
    padding-bottom: 3.125rem;
  }

  .chosen__text {
    font-size: 1.375rem;
  }

  .chosen__title {
    font-size: 2.625rem;
  }
}

@media (max-width: 20em) {
  .information__container {
    gap: 0.9375rem;
  }

  .header {
    padding-top: 2.5rem;
  }

  .header {
    padding-bottom: 2.5rem;
  }

  .chosen__text {
    font-size: 1.125rem;
  }

  .chosen__title {
    font-size: 1.625rem;
  }
}

@media (max-width: 65.625em) {
  .partners__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .chosen__title {
    line-height: 2.0476190476;
  }
}

@media (max-width: 29.99875em) {
  .info-partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .chosen__title {
    line-height: 2.1666666667;
  }
}

@media (min-width: 20em) and (max-width: 72.5em) {
@supports (gap: clamp( 0.9375rem , 0.6994047619rem  +  1.1904761905vw , 1.5625rem )) {
    .information__container {
      gap: clamp( 0.9375rem , 0.6994047619rem  +  1.1904761905vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.6994047619rem  +  1.1904761905vw , 1.5625rem )) {
    .information__container {
      gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem )) {
    .header {
      padding-top: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem )) {
    .header {
      padding-top: calc(2.5rem + 0.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem )) {
    .header {
      padding-bottom: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.2619047619rem  +  1.1904761905vw , 3.125rem )) {
    .header {
      padding-bottom: calc(2.5rem + 0.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0297619048rem  +  0.4761904762vw , 1.375rem )) {
    .chosen__text {
      font-size: clamp( 1.125rem , 1.0297619048rem  +  0.4761904762vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0297619048rem  +  0.4761904762vw , 1.375rem )) {
    .chosen__text {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1.625rem , 1.244047619rem  +  1.9047619048vw , 2.625rem )) {
    .chosen__title {
      font-size: clamp( 1.625rem , 1.244047619rem  +  1.9047619048vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.244047619rem  +  1.9047619048vw , 2.625rem )) {
    .chosen__title {
      font-size: calc(1.625rem + 1 * (100vw - 20rem) / 52.5);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #020a2c;
  }
}

@media print {
  .speciality__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .educational-options__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}